body {
  font-family: sans-serif;
  background-color: #363636;
  text-align: center;
  margin-top: 10px;
}

h1 {
  font-size: 24px;
  color: #aaa;
}

h2 {
  font-size: 18px;
  color: #aaa;
}

/**
 Custom styles for dates here
 */
.react-select-item-label-custom {
  overflow: visible;
  white-space: normal;
}
.option-badge {
  background-color: #00A3D7;
  box-sizing: border-box;
  color: #ffffff;
  margin-right: 5px;
  margin-bottom: 5px;
  padding: 2px;
  display: inline-block;
  font-size: 12px;
  height: 20px;
  cursor: default;
}
.option-badge > .option-remove {
  background-color: #0076c7;
  cursor: pointer;
  color: #ffffff;
  border-radius: 30px;
  width: 14px;
  height: 14px;
  font-size: 8px;
  padding: 2px 4px 2px 2px;
  margin: 5px;
  text-transform: uppercase;
}

.option-name,
.option-date {
  display: inline-block;
}
.option-name {
  max-width: 375px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.option-date {
  background-color: rgba(51, 122, 183, 0.6509803921568628);
  color: #ffffff;
  font-size: 12px;
  line-height: 10px;
  padding: 3px;
  float: right;
}
.react-select-item-label > .compare-dump-date {
  background-color: rgb(51, 122, 183);
  position: relative;
  top: 8px;
}

