body {
  font-family: sans-serif;
  background-color: #363636;
  text-align: center;
  margin-top: 100px;
}

h1 {
  font-size: 24px;
  color: #aaa;
}

/**
 Custom styles for dates here
 */
.option-name,
.option-date {
  display: inline-block;
}
.option-name {
  max-width: 375px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.option-date {
  background-color: rgba(51, 122, 183, 0.6509803921568628);
  color: #ffffff;
  font-size: 12px;
  line-height: 10px;
  padding: 3px;
  float: right;
}
.react-select-item-label > .compare-dump-date {
  background-color: rgb(51, 122, 183);
  position: relative;
  top: 8px;
}

